APP_BASE_URL=http://localhost:3000
STRIPE_SECRET_KEY=sk_test_51Qs1HBLGstpaBNOzlJ95i2vUdj3eVYC6Mrm4yI9KzmaskQTlSJ70FZyUAx4hx2ZIPrCjv8WkteTROCfau4ypB6bQ00PHLkueM4
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51Qs1HBLGstpaBNOzwhrvWGYPEceKUKXzpKGj9Mq5GoTXZW2zd8wZu0RlqQO9tc7r2LoggdDVgIVOyyYbKZ2xljba00r752ab6T
STRIPE_PRO_YEARLY_PRICE_ID=price_1TCfAMLGstpaBNOzoo3F0reg
STRIPE_SUPPORTER_PACK_PRICE_ID=price_1RYM1KLGstpaBNOz8KNXp7tR
STRIPE_WEBHOOK_SECRET=whsec_9de17822e90edc9de80bd561bf6c1575f835912dee29962d6b767e9fdfaf718a
