POLAR_ACCESS_TOKEN=polar_oat_85zOUIO5qLBNpsLWCVtMSlcNwzB5VIH0D3mxs3W5S2K
POLAR_SERVER=sandbox
APP_BASE_URL=http://localhost:3002
POLAR_DEMO_CUSTOMER_ID=polar-demo-user
POLAR_DEMO_CUSTOMER_EMAIL=demo@farmjs.dev
POLAR_PRO_MONTHLY_PRODUCT_ID=36e8ad84-4149-455c-ae1a-5563516486c1
POLAR_PRO_YEARLY_PRODUCT_ID=6f65122e-251a-4adf-acf8-8b08f5129ff4
POLAR_TOKEN_PACK_PRODUCT_ID=2492405d-a4a0-4034-9bf3-43204837a2b0
POLAR_TOKENS_METER_ID=c9d6a749-9c8e-40e0-ae6e-1e26060041db
POLAR_SERVER=sandbox
POLAR_TOKENS_EVENT_NAME=ai_usage

